@import url(base/reset.css);
@import url(base/fonts.css);
@import url(base/var.css);

@import url(components/header-card.css);
@import url(components/social-card.css);
@import url(components/posting-card.css);
@import url(components/schedule-card.css);
@import url(components/follower-card.css);
@import url(components/audience-card.css);
@import url(components/content-card.css);
@import url(components/ai-card.css);

/** Reused Classes */
.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
  width: clamp(320px, 100%, 340px);
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.75em 0.85em;
  gap: 1.45rem;
  background: var(--white-smoke);
}


/** Attribution */
.attribution__menu-btn {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 999rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  background: #181818;
  color: var(--white);
  cursor: pointer;
  transform: translateX(-50%);
}

.attribution__menu-btn span {
  font-family: "Roboto", sans-serif;
  color: var(--red);
}

.attribution-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 192px;
  height: 192px;
  border-radius: 999rem;
  transform: translateX(-50%) translateY(30%) scale(0);
  transition: 0.5s ease-in-out;
}
.attribution-menu--active {
  transform: translateX(-50%) translateY(50%) scale(1);
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 999rem;
  transition: 0.5s ease-in-out;
  transform-origin: 18px 78px;
  transform: rotate(0) translateY(0);
  background: #181818;


  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.325rem;
    text-decoration: none;
    fill: #e7e7e7;
  }
}

li:nth-child(1) {
  transform: rotate(-25deg) translateY(0px);
  a {
    transform: rotate(25deg);
  }
}
li:nth-child(2) {
  transform: rotate(25deg) translateY(0px);
  a {
    transform: rotate(-25deg);
  }
}